.questions {
  height: 100%;
  margin: 0;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  justify-content: flex-start;
}

.large {
  justify-content: center;
}
